*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(183deg, rgba(34,193,195,1) 4%, rgba(251,45,253,1) 77%);
    color: white ;
    
}

.avatar{
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
}
h2{
    font-size: 16px;
    margin-top: 2px;
}
.profile{
    margin-top: 20px;
    text-align: center;
}
.social{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 20px 0;
}
.social img{
    width: 33px;
}
.links-list{
    list-style: none;

}
.links-list li a {
    background-color: white;
    color: blueviolet;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    box-shadow: 0 0 20px white;
    text-align: center;
    font-weight: bold;
}
.links-list li{
    margin: 10px 20px;
    border-radius: 4px;
}
.links-list li a span {
    color: gray;
    display: block;
    margin-top: 10px;
}